.about-main{
    color:#AFAFFD;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
   align-items: flex-start;
   font-size: 1.3rem;

}


ul{
    list-style: none;
}

.about-list-element{
    border-left: whitesmoke solid 1px;
    padding: 8px;
}