.navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    color: whitesmoke;
    margin:auto;
    padding: 2rem;
    font-size: 2rem;
    max-width: 100%;
    gap: 1rem;
}
 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
     
 }
 .active{
   font-weight: 1200;
   font-size: 2.3rem;
     
 }