.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    color: whitesmoke;
    width: 80%;
    margin:auto;
    padding: 2rem;
    font-size: 2rem;
}
 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
     
 }