.project-container{
    max-width: 60%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem   ;
    padding:1rem;
    background: #2e2e2e;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    height: 5%;
}
.project{
    width: 100%;
    height: 60rem;
    background: #646464;
    border-radius: 8px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px
}
img{
    max-width: 100%;
    max-height:70%;
    border: whitesmoke 0.5px solid;
    border-radius: 8px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.project-description{
    font-size: larger;
    text-align: center;
}
