.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5rem;
    justify-content: space-between;
    padding: 3rem;
    
}
.skills-logo{
    cursor: pointer;
}
.skills-logo:hover{
    scale: 1.5;
}
